*, *::after, *::before{
    margin: 0;
    padding: 0;
}

.draggable {
      background: #deb; line-height: 40px; padding: 15px; float: left; margin: 1em; border: 1px dotted;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
      position: absolute}

.demo {
  /**background: beige;**/
    border:3px double;
    z-index:20;
    display:table;
    border-radius:90px;
    /*pointer-events:none;*/
    color: rgb(200,200,200);
    color: rgba(0,0,0,0.7);
    /**background: red;**/
}
#punto{
  width: 15px;
  height: 15px;
  background: blue;
  position: absolute;
}
#diagrama{
    position: relative;
}
/***************************/
.documento{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: robotolight;
}
.header{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  position: relative;
  background: #1976D2;
  color:#FFF;
}
.contenedor{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  height: 80vh;
}
.figuras{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding: 1em;
  justify-content: space-between;
  z-index:5;
}
.figura {
  margin: 0;
  width: 70px;
  height: 70px;
  background: #FF4081;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border:0;
  display: block;
  float: left;
}
.base {
  margin: 0;
  width: 70px;
  height: 70px;
  /*background: #FF4081;*/
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border:1;
  display: block;
  float: left;*/
}
.cuadrado{
  background: #FF4081;
}
.circulo{
  border-radius: 50%;
  background: #F44336;
}
.rectangulo{
  width: 80px;
  height: 40px;
  background: #1976D2;
}
.rombo{
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #4CAF50;
}
#diagrama{
  width: 100%;
  /*background: beige;**/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position:relative;
  z-index:3;
}
.btn{
  margin-top: 2em;
  margin-right: .5em;
  color:white;
  background-color: #FF4081;
  border:none;
  padding: .5em;
  border-radius: .3em;
  box-shadow: 0px 2px 2px #212121;
}
.btn:hover{
  background-color: white;
  color:#FF4081;
  box-shadow: none;
}
.salir{
  margin-right: 1em;
  color:white;
  background-color: #777 ;
  padding: .5em;
  border-radius: .3em;
  box-shadow: 0px 2px 2px #212121;
}
.salir:hover{
  color: white;
  background: #333;
}
.puntaCirculo{
  width: 15px!important;
  height: 15px!important;
  margin-left: 1em;
  border-radius: 50%;
}
.puntaTriangulo{
  width: 0!important;
  height: 0!important;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #f0ad4e;
  background: none !important ;
  margin-top: -2em;
  margin-left: 1em;
}
.puntaRombo{
  width: 15px!important;
  height: 15px!important;
  margin-left: 2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background:green !important;
  

}